@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #3587A4;
    color: #041553;
    accent-color: #FFFFFF;
}



h1{font-family: 'Water Brush', cursive;
    background-color: #041553;
    color: #60492C;
    position: absolute;
    top: -15%;
    left: 40%;
    text-align: center;
    font-size: 2rem;
}
header{
    align-items: center;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-around;
}
main{
    position:relative;
    text-align: center;
}
article{
    position: absolute;
    text-align: center;
    background-color: #3587A4;
    bottom: 0px;
    right: 16px;
    height: auto;
}

div{
    position: relative;
}

hero.img{
    display:block;
    width: 100%;
    top: -15%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px; 
}

img{
    height: auto;
    flex-direction: column;
}

body{font-family: var(--font-family);
}

h2{font-family: 'Water Brush', cursive;
}

p{font-family: var(--font-family);}

a{
    text-decoration: none;
}

footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.b{
    display: grid;
    grid-template-columns: 175px;
    grid-template-rows: 20px;
    justify-content: center;
}

footer .social img {
    padding-top: 15px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}