*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: aqua;
    background: black;
}

header{
    margin: 0 auto;
    width: 650px;
}

h1{
    margin: 1rem;
    font-size: 1.5em;
    color: red;
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: rgba(204, 100, 204, 0.322);
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px rgb(78, 15, 8);
    padding: 1rem;
}

legend{
    padding: 0.5rem;
    color: navajowhite;
    font-size: 1.3em;
}

label, input, button, select, textarea{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    background-color:yellowgreen;
    color:steelblue;
    border:none;
    border-radius: .5em;
    padding: 0.75em;
    font: size 1.2rem;
}

button:hover{
    background-color:darkgreen;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size:0.8em;
    color:silver;
    border-top: 1px saddlebrown;
}

.form-item{
    display: grid;
    align-items: center;
}

.column2{
    grid-template-columns: 1fr 2fr;
}